
    .chart-container {
    display: flex;
    flex-wrap: wrap;
   
    z-index: 400;
    margin-top: 400px;
  }

    .chart-container canvas {
    width: 20%; /* Adjust the width as needed */
    height: 50%;
  }
