

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #047853;
  padding:15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #047853;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 240px;
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: relative;
  color: #fff;
  padding: 8px 15px;
  font-size: 15px;
  background: #047853;
  cursor: pointer;

}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 100;
  background: #e7f2fd;
}
#buttonContainer {
  position: absolute;
 
  top: 200px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  z-index: 1000;
}

#import {
  display: block;
  margin-bottom: 5px; /* Adjust the button spacing as needed */
  padding: 10px 15px;
  background-color: #4070f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
#export {
  display: block;
  margin-bottom: 5px; /* Adjust the button spacing as needed */
  padding: 10px 15px;
  background-color: #f44040;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
#export-btn {
  display: block;
  margin-bottom: 5px; /* Adjust the button spacing as needed */
  padding: 10px 15px;
  background-color: #f44040;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
a.navbar-brand img {      
  width: 150px;
height: 100px ;
  border-radius: 50px;
}

/* ------------------------Services---------------------- */
#services{
  padding: 30px 3px;
  overflow: auto;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #262626;
  padding: 40px;
  color: white;
  font-size: medium;
  font-weight: 300;
  border-radius: 10px;
  
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px; 
}
.services-list div:hover{
  background: #0d6efd;
  transform: translateY(-10px);
}

/* ------------------------Teams------------------------- */
.containerbaba{
  margin:20px 40px;
}

.headingbaba{
  font-size: 60px;
}
 .headingbaba span {
  font-style: italic;
  font-size: 40px;
 }

.profilesbaba {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 20px;
}

.profilebaba {
  padding: 10px;
  flex-basis: 260px;
  margin: 20px;
  box-shadow:  0 5px 7px rgb(0, 0, 0, .4);
  border-radius: 5px;
}
.profilebaba h3{
  text-align: center;
  margin-top: 3px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.profilebaba p{
  width: max(90%, 80%);
  margin: auto;
  text-align: justify;
}
.teamimg{
  margin: auto;
  width: max(90%, 80%);
}
.teamimg img{
  width:100%;
  filter: grayscale(100%);
}
.teamimg img:hover{
  filter: grayscale(0);
}







